#about {
    height: 100vh;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: black;
    /*background-image: url('wallpapergreenajusted.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    
    
   
   

    display: flex;
    color: white;
    
}



.content-about {
    height: 600px;
    width: 800px;
    background-color: rgb(36, 36, 36); /* Fundo branco semi-transparente */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    
    border-bottom: 5px solid #39ff14;
    
    margin: 0 20px; /* Margem lateral para garantir espaço nas bordas */
    display: grid;
    gap: 5px; /* Espaça os parágrafos */
}

.content-about h2 {
    margin-bottom: 10px;
    font-size: 2em;
    text-align: center;
    display: grid;
    
    align-items: center;
}

.content-about p {
    color: rgb(255, 255, 255);
    font-size: 1em;
    line-height: 1.5;
    text-align: justify; /* Alinha o texto dos parágrafos */
    
}

.content-about p span.crs {
    color: rgb(0, 255, 13);
}
.content-about p span.lang {
    color: rgb(246, 255, 0);
}