#about {
    height: 100vh;
    width: 100%;

    background-color: aqua;
    display: flex;
    color: white;
}

.about-one {
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.img-about {
    height: 100%;
    width: 100%;
}

.img-about img {
    height: 100%;
    width: 100%;

    object-fit: cover; /*ajustar a img*/
    /*filter: blur(1px);  ofuscar a imagem  */ 
}