#contacts {
    display: flex;
    flex-direction: column;
    color: white;

    font-weight: 200;
    height: 60vh;
    width: 100%;
    background: black;
}

.contact-icon h2 {
    margin: 3rem;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
    color: white;
    background: linear-gradient(to top right,#ffa500 0%, #ff1493 100%); /* Degradê do vermelho para o azul */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact-icons-global {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.contact-icon-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0rem 3rem;
    padding: 1rem;
}

.contact-icon-link-map, .contact-icon-link-mail, .contact-icon-link-link {
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2rem;

    background-color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 50%;
}

/*LINKS COLOR DOS ICONS*/
.contact-icon-link-map {
    font-size: 2rem;
    color: rgb(0, 255, 38);
}

.contact-icon-link-mail {
    font-size: 2rem;
    color: rgb(255, 0, 0);
}

.contact-icon-link-link img{
    height: 30px;
    width: 30px;
    font-size: 2rem;
    color: rgb(17, 0, 255);
}

.contact-info span {
    font-size: 1.2rem;
    font-weight: 300;
}

.contact-info p {
    margin: .25rem 0rem;
    font-weight: lighter;
}

.contact-info a {
    margin: .25rem 0rem;
    display: block;

    font-weight: lighter;
    text-decoration: none;
    color: white;
}

.contact-info a:hover {
    color: red;
}


#footer {
    height: 15vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: auto;
    background-color: white;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    color: black;
}

.container-footer h2{
    font-size: 16px;
}

.container-footer h3{
    font-size: 14px;
}

.gu-link {
    text-decoration: none;
    color: black;
}

.gu-link:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}