@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
}

html {
    scroll-behavior: smooth; /* scroll mais lento*/
    background-color: black;
    
}

body {
    font-family: "Source Code Pro", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    color: darkgray;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 5px 10px;
    background: black;
    border-bottom: 1.5px solid #39ff14;

    z-index: 2;
    text-decoration: none;
}

.header-name {
    text-decoration: none;
    
}

.header-name h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.5rem;
    transition: opacity .2s ease;
    background-color: #001b91;
    border-radius: 12px 0 15px 0px;
    border-bottom: 2px solid #39ff14;
    padding: 3px 0;
}

.header-name span {
    color: rgb(0, 0, 0);
    background-color: #39ff14;
    border-radius: 0 0 12px 0;
    padding: 3px 3px 3px 0px;
}

.header-name h1:hover {
    opacity: .8;
}

.navbar {
    max-width: 800px;
    width: 100%;

}

.navbar ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;

}

#content {
    height: 94vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center; /* para centralizar verticalmente */
     /* espaçamento entre as divs */
    background: black;

    position: relative;

}



.name-page {
    display: flex;
    flex-direction: row; 
    font-family: "Source Code Pro", monospace;
    font-size: 4rem;
    gap: none;
}

h2 {
    display: flex;
    flex-direction: row; 
    font-family: "Source Code Pro", monospace;
    font-size: 3.2rem;
    gap: none;
}

/*
.profile-photo .photo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px; 
}
*/

.profile-photo {
    padding: 10px 0px 0px 0px;
    position: relative;
    top: -85px;
}
.profile-photo .photo {
    background: linear-gradient(to top right, #ffa500 0%, #ff1493 100%);

    border-width: 2px;
    border-radius: 50%;
         
    
    width: 30%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    

    padding: 5px;
    margin: auto;
   
}

.links {
    position: relative;
    padding: 0px 0px 40px 0px;
    top: -60px;
}

.links a {
    color: rgb(0, 0, 0);
}

.links a img {
    height: 30px;
    width: 30px;
    

    margin: 5px;
    filter: brightness(0.96); /*briljo*/
    transition: all .3s ease;
}

.links a img:hover {
    transform: scale(1.2); /*aumentar um poquinho o iconee*/
    filter: brightness(1.6); 
}

.name-page {
    font-family: "Space Grotesk", sans-serif;
    font-size: 3rem;
    
    padding: 0px 0px 10px 0px;

    
    position: relative;
    top: -50px;
    
}

.describ {
    color: white;
}