.name-page {
    display: flex;
    flex-direction: row; 
    gap: 30px;
}

.name-gu span {
    animation: brilho 6s ease-in-out infinite;
}

.name-car span {
    animation: brilho 6s ease-in-out infinite;
}

.name-gu span:nth-of-type(1) {
    animation-delay: 0.5s;
}

.name-gu span:nth-of-type(2) {
    animation-delay: 1s;
}

.name-gu span:nth-of-type(3) {
    animation-delay: 1.5s;
}

.name-gu span:nth-of-type(4) {
    animation-delay: 2s;
}

.name-gu span:nth-of-type(5) {
    animation-delay: 2.5s;
}

.name-gu span:nth-of-type(6) {
    animation-delay: 3s;
}

.name-gu span:nth-of-type(7) {
    animation-delay: 3.5s;
}

.name-car span:nth-of-type(1) {
    animation-delay: 4s;
}

.name-car span:nth-of-type(2) {
    animation-delay: 4.5s;
}

.name-car span:nth-of-type(3) {
    animation-delay: 5s;
}

.name-car span:nth-of-type(4) {
    animation-delay: 5.5s;
}

.name-car span:nth-of-type(5) {
    animation-delay: 6s;
}







@keyframes brilho {
    0% {
        color: white;
        text-shadow: 0 0 10px #39ff14,
        0 0 30px rgb(255, 255, 255),
        0 0 80px rgb(255, 255, 255);
    }
    10%, 90% {
        color: darkgray;
        text-shadow: none;
    }
}
